[MASTER]
init-hook='import sys;
  sys.path.append("bot/scripts");
  sys.path.append("tgfp_jobs/scripts");
  sys.path.append("tgfp_jobs");
  sys.path.append("tgfp_jobs/scripts/prefect_helpers");
          '
