[MASTER]
init-hook='import sys;
  sys.path.append("bot/scripts");
  sys.path.append("tgfp_jobs/scripts");
  sys.path.append("tgfp_jobs/scripts/config");
  sys.path.append("tgfp_jobs");
  sys.path.append("tgfp_jobs/scripts/prefect_helpers");
          '
disable=C0114, C0115, C0116, R0903