services:
  tgfp-nag-players:
    image: johnofcamas/tgfp-job-runner
    container_name: tgfp-nag-players
    environment:
      - DOPPLER_TOKEN=$DOPPLER_TOKEN
      - DOPPLER_ENV=1
      - TZ=US/Pacific
    restart: unless-stopped
    volumes:
      - $TGFP_HOME/nag_players/scripts:/app/scripts
    depends_on:
      tgfp-mongodb-prd:
        condition: service_healthy
